<div class="row">
  <div class="col-xs-12">
    <h3>Game Control</h3>
    <p>Game State: {{game.getState()}}</p>
    <div class="row">
      <div class="col-xs-6">
        <button type="button" class="btn btn-primary" (click)="StartGame()">Start</button>
      </div>
      <div class="col-xs-6">
        <button type="button" class="btn btn-warning" (click)="PauseGame()">Pause</button>
      </div>
    </div>
    <div class="row" style="margin-top: 1em">
      <div class="col-xs-12">
        <button type="button" class="btn btn-danger" (click)="StopGame()">Stop</button>
      </div>
    </div>
    <hr>    
  </div>
</div>